  <body
    style="
      font-size: 100px;
      font-family: arial;
      color: #fff;
      background: url(1.jpg);
      background-size: cover;
      padding: 200px 450px;
    "
    id="jam"
  ></body>